body{
	background-color: #ded8d8;
	background-size: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0 auto;
}

@font-face {
	font-family: ITCBold;
	src: url(../fonts/itc-fenice-lt-bold.ttf);
}

@font-face {
	font-family: ITCOblique;
	src: url(../fonts/itc-fenice-lt-oblique.ttf);
}

@font-face {
	font-family: ITCRegular;
	src: url(../fonts/itc-fenice-lt-regular.ttf);
}

img{
	max-width:100%;
}

h1{
	font-family: ITCBold;
	color: #ec2434;
	font-weight: lighter;
	margin-top: 0px;
}

h2{
	font-family: ITCRegular;
	color: #b4774b;
	font-weight: lighter;
}

ul {
	padding: 0;
	list-style-type: none;
}

a:link{
	color: #ec2434;
	font-family: ITCOblique;
	font-weight: lighter;
}

a:hover{
	font-family: ITCRegular;
	color: #b4774b;
	font-weight: lighter;
	text-decoration: none;
}

a:active{
	color: #ec2434;
}

a:visited{
	color: #ec2434;
}

header{
	background-color: #FFFFFF;
	margin: 0 auto;
}

.logo{
	padding: 10px;
	text-align: center;
	margin: 0 auto;
	width: 50%;
}

.logo img{
	width: 200px;
}

.typography{
	width: 75%;
	background-color: #FFFFFF;
	margin: 0 auto;
	padding: 15px;
	margin-top: 15px;
	border-radius: 10px;
}

.swatches{
	border-bottom: 1px dashed #FFFFFF;
	text-align: center;
}

.swatches li{
	display: inline-block;
	width: 70%;
	color: transparent;
	border: 4px solid #FFFFFF;
	padding: 0.5em;
	margin: 0.5em;
	font-size: 1px;
	min-height: 50px;
}

.dark-grey{
	background-color: #3a3a3c;
}
.red{
	background-color: #ec2434;
}
.yellow{
	background-color: #fad73b;
}
.tan{
	background-color: #b4774b;
}
.light-grey{
	background-color: #ded8d8;
}
.white{
	background-color: #FFFFFF;
}

.illustrations{
	margin: 0 auto;
	padding: 15px;
	text-align: center;
	border-bottom: 1px dashed #FFFFFF;
}

.illustrations li{
	margin: 1em;

}

.illustrations img{
	border: 4px solid #FFFFFF;
}

.patterns{
	padding: 20px;
	text-align: center;
	margin-bottom: 80px;
}

@media (min-width: 768px){

	.typography{
		width: 45%;
		float: right;
		margin: 30px;
	}

	.swatches{
		width: 40%;
		float: left;
		margin-left: 15px;
		margin-top: 15px;
		padding-left: 10px;
		border-bottom: 0;
	}

	.swatches li{
		display: inline;
		float: left;
		width: 25%;
		margin-right: 16px;
		margin-bottom: 10px;
	}

	.illustrations{
		float: left;
		width: 40%;
		padding: 0;
		border-bottom: 0;
	}

	.illustrations li{
		margin: 0;
		padding-left: 28px;
		margin-bottom: 10px;

	}

	.patterns{
		width: 45%;
		float: right;
		margin: 0 30px 80px;
	}
}

@media (min-width: 1024px){
	.swatches{
		padding-left: 40px;
	}

	.illustrations li{
		padding-left: 55px;
	}

}

@media (min-width: 1280px){

	main{
		width: 1200px;
		margin: 0 auto;
	}


}


